
<h1>Burgers</h1>



<div id="burgerlist">
	
   <ul>
     {{#each burgers}}
       {{#unless devoured}}
          {{> burger/burger-block}}
       {{/unless}}
     {{/each}}
  </ul>
</div>

<div id="devourlist">
    <ul>
      {{#each burgers}} 
        {{#if devoured}}
           {{> burger/burger-block}}
        {{/if}}
      {{/each}}
    </ul>
</div>

{{!-- action="/"  or action="/api/burgers" --}}
{{!-- <form method="POST" action="/">    --}}
<form>
  	<input type="text" name="burger" class="newburger"><br>

	  <button type="submit" id="submit">Submit</button>
</form>
