
{{!-- action="/" --}}
	<form id="{{id}}" method="POST" action="/">  
		{{#if devoured}}
        <input type="text" value = "{{burger_name}}" class="list" readonly>
		{{else}}
	      <input type="text" value = "{{burger_name}}" class="list"> 
				<input type="text" class="customer" width="60px">
		{{/if}}
    {{#unless devoured}}
	     <button class="devour">devour</button>
	  {{/unless}}
	</form>

